body {
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  color: #818587;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.content {
  padding: 15px 0;
}

.container {
  display: inline-block;
  width: 1200px;
  height: 720px;
  box-shadow: 5px 5px 5px 5px rgb(211, 201, 201);
  border-radius: 20px;
  box-sizing: border-box;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

[class^="column-"] {
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.column-1 {
  width: 8.33%;
}

.column-2 {
  width: 16.66%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.33%;
}

.column-5 {
  width: 41.66%;
  height: 720px;
  background-color: #33d2fd;
  border-radius: 20px 0 0 20px;
}

.column-5 .mount {
  position: absolute;
  padding-top: 200px;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.33%;
}

.column-8 {
  width: 66.66%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.33%;
}

.column-11 {
  width: 91.66%;
}

.column-12 {
  width: 100%;
}

label {
  display: flex;
}

input {
  background-color: #fcfcfd;
  border: rgb(233, 230, 233) solid;
  border-radius: 5px;
  width: 275px;
  padding: 10px;
  height: 30px;
}

.inputs-wrapper {
  margin: 30px;
}

.input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.gender {
  display: flex;
  align-items: center;
}

.gen {
  background-color: rgb(247, 242, 247);
  margin: 10px;
  width: 40px;
  height: 40px;
  padding: 15px;
  font-size: 17px;
  border-radius: 20px;
}

.gen:hover {
  background-color: #95eb75;
}

.gen:focus {
  background-color: #95eb75;
}

.sub div {
  margin: 30px;
  display: inline-block;
}

.bronze {
  color: #fbb03b;
}

.bronze:hover {
  background-color: #fbb03b;
  color: white;
  cursor: pointer;
}

.silver {
  color: silver;
}

.silver:hover {
  cursor: pointer;
  background-color: silver;
  color: white;
}

.gold {
  color: gold;
}

.gold:hover {
  cursor: pointer;
  background-color: gold;
  color: white;
}
.btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.btn button {
  text-transform: uppercase;
  background-color: #ebeff0;
  border: none;
  display: inline-block;
  text-align: center;
  width: 135px;
  height: 40px;
  margin: 10px;
}

.btn button:hover {
  background-color: #95eb75;
}
